body{
    background-color: black;
    color: aliceblue;
    font-family: 'Bubbler One', sans-serif;
font-family: 'Nova Slim', cursive;
font-family: 'Special Elite', cursive;
    
}

header{
    width: 15wh;
    height:15vh;
    background-image: url("../img/pexels-cesar-perez-16755352.jpg");
font-size: 50px;
text-align: center;
}

.principal p{
    text-align: justify;
    margin: 30px;
}

.principal article{
    border: 2px dotted purple;
    margin: 10px 50px;
    padding: 20px;
    text-align: center;
}

.container-gal{
    width: 95%;
    align-content: center;
    margin: 0 auto;
}

div.galeria{
    margin: 10px;
    box-shadow: 2px 4px 8 px rgb(252, 240, 252);
    width: 300px;
    margin: 0 auto;
    display: inline-block;
    margin-left: 10px;
}


.galeria img{
    width: 300px;
    height: 300px;
    margin: 10px auto;
}


footer{
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding: 20px;
    font-size: 22px;
}

@media only screen and (max-width: 576px)
{
    .principal h2{}
}

@media only screen and (min-width: 576px){

}